<div class="container">
  <form id="searchForm" (ngSubmit)="onSearch()">
    <input
      type="text"
      id="pathInput"
      name="path"
      placeholder="Path"
      [(ngModel)]="path"
    />
    <input
      type="text"
      id="titleInput"
      name="title"
      placeholder="Title"
      [(ngModel)]="title"
    />
    <input
      type="text"
      id="extensionInput"
      name="extension"
      placeholder="Extension"
      [(ngModel)]="extension"
    />
    <input
      type="text"
      id="contentsInput"
      name="contents"
      placeholder="Contents"
      [(ngModel)]="contents"
    />
    <button type="submit">Search</button>
  </form>
  <div id="results">
    <ul id="file-list">
      @for (file of files; track $index) {
      <li class="fileLi">
        Path: {{ file[0] }} <br />
        File: {{ file[1] }}{{ file[2] }} <br />
        Content: {{ file[3] }} <br />
      </li>
      }
    </ul>
  </div>
</div>
