<div class="container">
  <form id="searchForm" (ngSubmit)="onSearch()">
    <input
      type="text"
      id="pathInput"
      name="path"
      placeholder="Path"
      [(ngModel)]="path"
      list="path-suggestions"
    />
    <datalist id="path-suggestions">
      @for (pathSuggestion of pathSuggestions; track $index) {
      <option [value]="pathSuggestion"></option>
      }
    </datalist>
    <input
      type="text"
      id="titleInput"
      name="title"
      placeholder="Title"
      [(ngModel)]="title"
      list="title-suggestions"
    />
    <datalist id="title-suggestions">
      @for (titleSuggestion of titleSuggestions; track $index) {
      <option [value]="titleSuggestion"></option>
      }
    </datalist>
    <input
      type="text"
      id="extensionInput"
      name="extension"
      placeholder="Extension"
      [(ngModel)]="extension"
      list="extension-suggestions"
    />
    <datalist id="extension-suggestions">
      @for (extensionSuggestion of extensionSuggestions; track $index) {
      <option [value]="extensionSuggestion"></option>
      }
    </datalist>
    <input
      type="text"
      id="contentsInput"
      name="contents"
      placeholder="Contents"
      [(ngModel)]="contents"
      list="content-suggestions"
    />
    <datalist id="content-suggestions">
      @for (contentSuggestion of contentsSuggestions; track $index) {
      <option [value]="contentSuggestion"></option>
      }
    </datalist>
    <button type="submit">Search</button>
  </form>
  <div class="mainData">
    <div class="results">
      <ul id="file-list">
        @for (file of files; track $index) {
        <li class="fileLi">
          Path: {{ file[0] }} <br />
          File: {{ file[1] }}{{ file[2] }} <br />
          Content: {{ file[3] }} <br />
          Score: {{ file[7] }}
        </li>
        }
      </ul>
    </div>
    <div class="widgets">
      @for (widget of widgets; track $index) {
        <app-widget-generator [command]="widget"></app-widget-generator>
      }
    </div>
  </div>
</div>
